.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: white;
    font-size: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-title {
    margin-top: 20px;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetBtn {
    width: 200px;
    height: 60px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    background: #1f3540;
    font-size: 18px;
    color: #26ffcb;
    margin-top: 25px;
}

.boxes {
    display: flex;
    height: 160px;
    width: 160px;
    background: #1f3540;
    border: 3px solid #0f1b21;
    border-radius: 10px;
    cursor: pointer;
}

.boxes img {
    margin: 15px;
}

.board {
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto;
}